anthropic==0.96.0
langchain==0.3.28
langchain-anthropic==0.3.22
langchain-community==0.3.31
langchain-huggingface==0.3.1
langchain-chroma==0.2.6
chromadb==1.5.8
sentence-transformers==5.1.2
streamlit==1.50.0
pandas==2.3.3
python-dotenv==1.2.1
